*{margin:0px;padding:0px;font-size:12px; font-family:Arial,"宋体";}
img,input,select{vertical-align:middle;}
a{text-decoration:none;}
ul li{list-style:none;}
.mr5{margin-right:5px;}
.mr25{margin-right:25px;}
.mr10{margin-right:10px;}
.mt10{margin-top:12px;}
.mt5{margin-top:5px;}
.f9{color:#999999;}
.cl{clear:both;height:0px;}
.dis{display:;}
.undis{display:none;}
.floatL{float:left;}
.floatR{float:right;}
.left{background:url(../images/left_vertical_bar.gif) repeat-y right;}
.bottom{background:url(../images/bottom_pic.jpg) no-repeat left bottom;width:200px;height:28px;position:absolute;z-index:-1;bottom:0px;}
.bottom2{background:url(../images/bottom_pic.jpg) no-repeat right bottom;width:200px;height:28px;position:absolute;z-index:-1;bottom:0px;}
.bottom3{background:url(../images/bottom_pic.jpg) repeat-x -200px bottom;width:100%;height:28px;position:absolute;z-index:-1;bottom:0px;}
.bottom4{background:url(../images/bottom_pic.jpg) repeat-x bottom;width:99%;height:28px;position:absolute;z-index:-1;bottom:0px;}
.menu{background:#fff;width:193px;}
.menu li span{display:inline-block;background:url(../images/titlebg.gif) no-repeat;width:193px;color:#004276;font-weight:bold;height:23px;padding-top:7px;padding-left:7px;}
.submenu{background:#fff;margin:2px auto;display:inline-block;padding:0px 10px;width:180px;}
.submenu li{float:left;background:url(../images/icon9.gif) no-repeat center left;padding-left:10px;padding-top:0px;line-height:20px;width:80px;color:#2c2c2c;font-weight:normal;}
.submenu li a{text-decoration:none;color:#2c2c2c;}.submenu li a:hover,.submenu li a.cur{color:#004276;}
.window{background:#fff;width:200px;height:100px;overflow-y:auto; overflow-x:hidden;border-bottom:1px solid #ccc;margin-bottom:5px;}
.window li{border:1px solid #ccc;margin:5px;color:#a8191d;font-weight:bold;line-height:30px;}
.window li.urgent{background:url(../images/icon12.gif) no-repeat left center;padding-left:25px;color:#2c2c2c;border:0px;line-height:24px;}
.window li.urgent strong{color:#b80b0b;float:right;font-weight:normal;}
.window li.important{background:url(../images/icon10.gif) no-repeat left center;padding-left:25px;color:#2c2c2c;border:0px;line-height:24px;}
.window li.important strong{color:#d14a0e;float:right;font-weight:normal;}
.window li.notice{background:url(../images/icon11.gif) no-repeat left center;padding-left:25px;color:#2c2c2c;border:0px;line-height:24px;}
.window li.notice strong{color:#2c2c2c;float:right;font-weight:normal;}

.user_information{background:url(../images/topbg.jpg) repeat-x left top;height:180px;}
.title{height:34px;padding-top:9px;background:url(../images/rightbg.png) no-repeat right 5px;padding-left:5px;}
.tag{display:inline-block;margin-right:30px;margin-left:5px;vertical-align:middle;}
.tag a{margin-top:6px;display:inline-block;background:url(../images/btnsmall_normalbg.gif) no-repeat;width:71px;height:21px;line-height:21px;color:#000;text-align:center;text-decoration:none;}
.tag a:hover,.tag a.cur{margin-top:6px;background:url(../images/btnsmall_bluebg.gif) no-repeat;line-height:21px;}
.line{background:url(../images/linebg.gif) repeat-x;height:2px;margin:10px 0px;}
.number{color:#2c2c2c;}
.number a{display:inline-block;color:#2c2c2c;width:60px;text-align:center;line-height:18px;height:24px;}
.number a.cur{background:url(../images/tag.gif) no-repeat;color:#fff;}
.content_box{margin:10px 5px;color:#303030;}
.content_box strong.c1{font-weight:normal;border-bottom:1px solid #8b8b8b;display:inline-block;width:40px;}
.content_box strong.c2{font-weight:normal;border-bottom:1px solid #8b8b8b;display:inline-block;width:80px;}
.content_box strong.c3{font-weight:normal;border-bottom:1px solid #8b8b8b;display:inline-block;width:110px;}
.content_box strong.c4{font-weight:normal;border-bottom:1px solid #8b8b8b;display:inline-block;width:72px;}
.content_box strong.c5{font-weight:normal;border-bottom:1px solid #8b8b8b;display:inline-block;width:65%;}
.area{width:300px;height:60px;border:1px solid #8b8b8b;padding:5px;resize:none;}
.area1{width:147px;height:60px;border:1px solid #8b8b8b;padding:5px;resize:none;}
.area2{width:170px;height:80px;border:1px solid #8b8b8b;padding:5px;resize:none;}
.input_txt{border:1px solid #8b8b8b;width:55px;height:20px;text-align:center;line-height:20px;}
.input_txt1{border:1px solid #8b8b8b;width:35px;height:15px;text-align:center;line-height:15px;}
.input_txt2{border:1px solid #8b8b8b;width:85px;height:24px;text-align:center;line-height:24px;}
.input_box{display:inline-block;border:1px solid #8b8b8b;width:55px;height:20px;line-height:20px;background:#fff;vertical-align:middle;}
.input_box a{float:right;margin-top:1px;margin-right:1px;}
.input_box input{border:0px;width:31px;height:19px;line-height:19px;padding:0px 2px;}
.input_box1{display:inline-block;border:1px solid #8b8b8b;width:45px;height:20px;line-height:20px;background:#fff;vertical-align:middle;}
.input_box1 a{float:right;margin-top:1px;margin-right:1px;}
.input_box1 input{border:0px;width:21px;height:19px;line-height:19px;padding:0px 2px;}
.input_box2{display:inline-block;border:1px solid #8b8b8b;width:78px;height:24px;line-height:24px;background:#fff;vertical-align:middle;}
.input_box2 a{float:right;margin-top:2px;margin-right:2px;}
.input_box2 input{border:0px;width:50px;height:24px;line-height:24px;padding:0px 2px;}
.input_box3{display:inline-block;border:1px solid #8b8b8b;width:128px;height:24px;line-height:24px;background:#fff;vertical-align:middle;}
.input_box3 a{float:right;margin-top:2px;margin-right:2px;}
.input_box3 input{border:0px;width:100px;height:24px;line-height:24px;padding:0px 2px;}
.button_bg{background:url(../images/btnsmall_bg.gif) no-repeat;width:59px;height:22px;line-height:22px;text-align:center;border:0px;color:#2a2a2a;}
.btn_save{float:left;width:90px;margin-top:5px;}
.cc{width:390px;float:left;}

.right{width:200px;background:url(../images/topbg.jpg) repeat-x left top;}
.information_notice{border:1px solid #ccc;width:196px;}
.title01{background:url(../images/titlebg.jpg) no-repeat;width:186px;height:28px;line-height:28px;font-size:14px;font-weight:bold;color:#fff;padding-left:10px;}
.title01 a{float:right;margin-right:10px;margin-top:4px;}
ul.tr li{padding:5px;color:#3f3f3f;}
ul.tr li a{float:right;margin-right:5px;}
.titlebg2{background:url(../images/titlebg2.gif) repeat-x;border:1px solid #ccc;height:26px;padding-top:5px;padding-left:5px;width:194px;}
.tag_title{margin-left:6px;}
.tag_title a{display:inline-block;width:59px;height:20px;background:url(../images/btnsmall_bg.gif) no-repeat;text-align:center;line-height:20px;color:#3f3f3f;margin-right:1px;}
.tag_title a:hover,.tag_title a.cur{background:url(../images/btnsmall_yellowbg.gif) no-repeat;height:20px;color:#000;}
.tag_content{border:1px solid #ffb375;padding:5px;margin:0px 2px;min-height:100px;background:#fff;}
.content1{color:#023047;padding:3px;border:1px solid #8b8b8b;margin:10px 0px;}
.content1 strong{font-weight:normal;border-right:1px solid #ddd;display:inline-block;text-align:center;width:90px;}

.main{background:#e2f6fe url(../images/horizontal_bar.gif) repeat-x top;padding-top:7px;}
.bodybg{background:#e2f6fe url(../images/index.jpg) no-repeat;width:873px;height:275px;padding-top:208px;margin:0px auto;}
.search_box{border:1px solid #a1a1a1;width:663px;height:75px;background:#fff url(../images/pic01.jpg) no-repeat left;padding-left:175px;padding-top:50px;}

.pr{position:relative;}
.select_menu{background:#fff;border:1px solid #c2c2c2;position:absolute;}
.select_menu li{cursor:pointer;line-height:20px;padding:2px;}
.select_menu li a{display:inline-block;width:100%;color:#474747;}
.select_menu li a:hover{background:#daecf2;}

/*****智驾救援********/
.help{width:750px;margin:20px;float:left;}
.tag_help span{display:inline-block;background:url(../images/help_tag.gif) no-repeat;width:82px;height:26px;color:#fff;font-size:13px;text-align:center;line-height:26px;margin-right:9px;font-weight:bold;cursor:pointer;}
.tag_help span.cur{background:url(../images/help_tag_cur.gif) no-repeat;width:81px;height:29px;color:#0087b9;position:relative;}
.help_content{border:1px solid #50b9dc;background:#fff;padding:10px;margin-top:-1px;height:400px;overflow-y:auto; overflow-x:hidden;color:#000;}
.help_content .input_txt180{border:1px solid #a3bbc0;height:19px;width:180px;padding:2px;}
.help_content .input_txt88{border:1px solid #a3bbc0;height:19px;width:88px;padding:2px;}
.help_content .input_txt100{border:1px solid #a3bbc0;height:13px;width:100px;padding:2px;}
.help_content .table01{margin:10px 0px;}
.help_content .table01 td{padding:5px;}
.help_content .table01 th{font-weight:normal;text-align:right;padding:5px;}
.help_content .table03{margin:10px 0px;}
.help_content .table03 td{padding:10px;}
.help_content .table03 th{font-weight:normal;text-align:right;padding:5px;}
.help_content .table02{margin:10px 0px;border-top:1px solid #6685a3;border-left:1px solid #6685a3;color:#000;}
.help_content .table02 tr.bg{background:#ffffe0;}
.help_content .table02 tr.fybg{background:#b5e2f0;height:35px;}
.help_content .table02 tr.fybg a{color:#3366ff;margin:0px 10px;}
.help_content .table02 tr.fybg a.my{color:#000;}
.help_content .table02 td{padding:5px;border-bottom:1px solid #6685a3;border-right:1px solid #6685a3;padding:5px;text-align:center;}
.help_content .table02 th{font-weight:normal;text-align:center;padding:5px;background:#7dd5f2;border-bottom:1px solid #6685a3;border-right:1px solid #6685a3;}
.help_content select{border:1px solid #a7bec3;width:118px;height:20px;margin-right:10px;}
.help_content textarea{resize:none;width:230px;height:65px;border:1px solid #a7bec3;padding:3px; vertical-align:top;}
.help_content .button{margin-top:20px;}

.help_right{width:360px;height:100px;border:1px solid #50b9dc;background:#fff;color:#000;padding:10px;float:left;margin-top:48px;}
.help_right .input_txt88{border:1px solid #a3bbc0;height:18px;width:100px;padding:2px;}
.help_right .input_txt99{border:1px solid #a3bbc0;height:18px;width:160px;padding:2px;}
.help_right .input_txt50{border:1px solid #a3bbc0;height:18px;width:30px;padding:2px;}
.help_right td{padding:5px;}
.help_right th{font-weight:normal;text-align:right;padding:5px;}
.help_right textarea{resize:none;width:270px;height:30px;border:1px solid #a7bec3;padding:3px;}

.help_left{width:370px;height:600px;border:1px solid #50b9dc;background:#fff;color:#000;padding:10px;float:left;margin-top:48px;}
.help_left .input_txt88{border:1px solid #a3bbc0;height:18px;width:100px;padding:2px;}
.help_left .input_txt99{border:1px solid #a3bbc0;height:18px;width:160px;padding:2px;}
.help_left .input_txt50{border:1px solid #a3bbc0;height:18px;width:30px;padding:2px;}
.help_left td{padding:5px;}
.help_left th{font-weight:normal;text-align:right;padding:5px;}
.help_left textarea{resize:none;width:500px;height:30px;border:1px solid #a7bec3;padding:3px;}

.help_top{width:750;height:30px;border:1px solid #50b9dc;background:#fff;color:#000;padding:10px;float:left;margin-top:48px;}
.help_top .input_txt88{border:1px solid #a3bbc0;height:18px;width:100px;padding:2px;}
.help_top .input_txt99{border:1px solid #a3bbc0;height:18px;width:160px;padding:2px;}
.help_top .input_txt50{border:1px solid #a3bbc0;height:18px;width:30px;padding:2px;}
.help_top td{padding:5px;}
.help_top th{font-weight:normal;text-align:right;padding:5px;}
.help_top textarea{resize:none;width:500px;height:30px;border:1px solid #a7bec3;padding:3px;}

.help1{width:1150px;margin:20px;float:left;}
.tag_help1 span{display:inline-block;background:url(../images/help_tag.gif) no-repeat;width:82px;height:26px;color:#fff;font-size:13px;text-align:center;line-height:26px;margin-right:9px;font-weight:bold;cursor:pointer;}
.tag_help1 span.cur{background:url(../images/help_tag_cur.gif) no-repeat;width:81px;height:29px;color:#0087b9;position:relative;}
.help_content1{border:1px solid #50b9dc;background:#fff;padding:10px;margin-top:-1px;height:420px;overflow-y:auto; overflow-x:hidden;color:#000;}
.help_content1 .input_txt180{border:1px solid #a3bbc0;height:19px;width:180px;padding:2px;}
.help_content1 .input_txt88{border:1px solid #a3bbc0;height:19px;width:88px;padding:2px;}
.help_content1 .input_txt100{border:1px solid #a3bbc0;height:13px;width:100px;padding:2px;}
.help_content1 .table01{margin:10px 0px;}
.help_content1 .table01 td{padding:5px;}
.help_content1 .table01 th{font-weight:normal;text-align:right;padding:5px;}
.help_content1 .table03{margin:10px 0px;}
.help_content1 .table03 td{padding:10px;}
.help_content1 .table03 th{font-weight:normal;text-align:right;padding:5px;}
.help_content1 .table02{margin:10px 0px;border-top:1px solid #6685a3;border-left:1px solid #6685a3;color:#000;}
.help_content1 .table02 tr.bg{background:#ffffe0;}
.help_content1 .table02 tr.fybg{background:#b5e2f0;height:35px;}
.help_content1 .table02 tr.fybg a{color:#3366ff;margin:0px 10px;}
.help_content1 .table02 tr.fybg a.my{color:#000;}
.help_content1 .table02 td{padding:5px;border-bottom:1px solid #6685a3;border-right:1px solid #6685a3;padding:5px;text-align:center;}
.help_content1 .table02 th{font-weight:normal;text-align:center;padding:5px;background:#7dd5f2;border-bottom:1px solid #6685a3;border-right:1px solid #6685a3;}
.help_content1 select{border:1px solid #a7bec3;width:118px;height:20px;margin-right:10px;}
.help_content1 textarea{resize:none;width:230px;height:65px;border:1px solid #a7bec3;padding:3px; vertical-align:top;}
.help_content1 .button{margin-top:20px;}
.help2{width:365px;margin:20px;float:left;}
.help_content2{border:1px solid #50b9dc;background:#fff;padding:10px;margin-top:-1px;height:120px;overflow-y:auto; overflow-x:hidden;color:#000;}
.help_content2 textarea{resize:none;width:230px;height:65px;border:1px solid #a7bec3;padding:3px; vertical-align:top;}
.tag_help1{display:inline-block;background:url(../images/help_tag1.jpg) no-repeat;width:82px;height:26px;color:#fff;font-size:13px;text-align:center;line-height:26px;margin-right:9px;font-weight:bold;cursor:pointer;}
/*弹出信息样式*/
.message_box {width:600px;height:auto;float:left; top:15%;left:200px; position:absolute;display:none}
.message_box2 {width:600px;height:auto;float:left; top:15%;left:200px; position:absolute;display:none}
.message_box3 {width:600px;height:auto;float:left; top:15%;left:200px; position:absolute;display:none}
.message {border:#0079CA solid;border-width:1 1 3 1;width:95%;height:95%;background:#fff;color:#036;font-size:12px;line-height:150%}
.header {background:#0079CA;height:22px;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:12px;padding:3 5 0 5;color:#fff;}
#message_box1 .header {cursor:move;}
.header div { float:left;width:300px; color:#ffffff; font-weight:bold}
.header span {float:right;cursor:hand;}
/*错误信息页面*/
.pad10{padding:10px;line-height:20px;}
.border1{border:1px solid #ccc;}
.lh36{line-height:36px;text-align:center;}
.ag_content{background:#fff;line-height:25px;width:370px;}
.ag_content .title_pop{background:url(../images/pop_tbg01.gif) repeat-x;height:40px;border:1px solid #1c849c;}
.ag_content strong{display:inline-block;padding:8px 0px 0px 10px;font-size:14px;color:#fff;}
.ag_content .title_pop a{display:block;background:url(../images/btn_close.gif) no-repeat;width:41px;height:39px;}
.ag_content .title_pop a:hover{background:url(../images/btn_close1.gif) no-repeat;width:41px;height:39px;}
.ag_content span a{color:#0078b6;text-decoration:underline;}

/*查询卡样式*/
.search{ float:left; width:100%; height:auto;}
.search_s{ float:left; width:100%; height:auto; background:url(../images/search_bg.jpg) repeat-x; line-height:20px;}
.search_s_left{ float:left; width:auto;}
.search_s_right{ float:right; width:auto;}
.search_s_font{ float:left; width:95%; padding-top:15px;}
.search_s_font ul li{ float:left; width:auto; padding-right:8px;}
.search_s_font_input{ float:left; margin-top:-3px;}
.search_s_font ul li select{ border:1px solid #C3D4DB; color:#666666;height:22px;}
.search_s_font ul li input{ border:1px solid #C3D4DB; height:22px;}
.search_button{ background:url(../images/search_button_bg.jpg) no-repeat;width:105px!important; height:27px!important; line-height:22px;font-weight:bold; color:#DEF3FD!important; text-align:center; font-size:14px; border:0!important;}
.search_result{ float:left; width:100%;padding-top:10px;}
.search_result_left{ float:left; width:auto;}
.search_result_right{ float:right; width:auto;}
.search_result_table{ float:left; width:100%; border:1px solid #7BB0D0; background:#F7F6F6}
.search_result_table_title{width:100%; height:33px;background:url(../images/search_sault_title_bg.jpg) repeat-x;}
.search_result_table_title td{ width:12.4%;font-weight:bold; text-align:center; line-height:31px; border-right:1px solid #AEDBF2; border-bottom:1px solid #AEDBF2;}
.search_result_table_title td span{ padding:0 0 0 21px;height:25px!important;width:auto!important; background-position:0 0px!important}
.search_result_table_title strong{ float:left; width:auto; padding-left:25px; line-height:30px; background-position:5px 8px;}
.search_result_table_cont{border-bottom:1px solid #AEDBF2}
.search_result_table_cont td{width:12.4%;text-align:center;line-height:26px; border-bottom:1px solid #AEDBF2;border-right:1px solid #AEDBF2}
.search_result_table_cont3{ float:left; width:100%;height:auto;}

/*我要处理的订单*/
.help_contentMe{border:1px solid #50b9dc;background:#fff;padding:10px;margin-top:-1px;height:360px;overflow-y:auto; overflow-x:hidden;color:#000;}
.help_contentMe .input_txt180{border:1px solid #a3bbc0;height:19px;width:180px;padding:2px;}
.help_contentMe .input_txt88{border:1px solid #a3bbc0;height:19px;width:88px;padding:2px;}
.help_contentMe .input_txt100{border:1px solid #a3bbc0;height:13px;width:100px;padding:2px;}
.help_contentMe .table01{margin:10px 0px;}
.help_contentMe .table01 td{padding:5px;}
.help_contentMe .table01 th{font-weight:normal;text-align:right;padding:5px;}
.help_contentMe .table03{margin:10px 0px;}
.help_contentMe .table03 td{padding:10px;}
.help_contentMe .table03 th{font-weight:normal;text-align:right;padding:5px;}
.help_contentMe .table02{margin:10px 0px;border-top:1px solid #6685a3;border-left:1px solid #6685a3;color:#000;}
.help_contentMe .table02 tr.bg{background:#ffffe0;}
.help_contentMe .table02 tr.fybg{background:#b5e2f0;height:35px;}
.help_contentMe .table02 tr.fybg a{color:#3366ff;margin:0px 10px;}
.help_contentMe .table02 tr.fybg a.my{color:#000;}
.help_contentMe .table02 td{padding:5px;border-bottom:1px solid #6685a3;border-right:1px solid #6685a3;padding:5px;text-align:center;}
.help_contentMe .table02 th{font-weight:normal;text-align:center;padding:5px;background:#7dd5f2;border-bottom:1px solid #6685a3;border-right:1px solid #6685a3;}
.help_contentMe select{border:1px solid #a7bec3;width:118px;height:20px;margin-right:10px;}
.help_contentMe textarea{resize:none;width:230px;height:65px;border:1px solid #a7bec3;padding:3px; vertical-align:top;}
.help_contentMe .button{margin-top:20px;}
/*救援项目管理*/
.help3{width:570px;margin:20px;float:left;}
.help_content3{border:1px solid #50b9dc;background:#fff;padding:10px;margin-top:-1px;height:220px;overflow-y:auto; overflow-x:hidden;color:#000;}
.help_content3 textarea{resize:none;width:230px;height:65px;border:1px solid #a7bec3;padding:3px; vertical-align:top;}