<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.workman.weibo.persistence.AccessTokenMapper">

  <cache />
  
  <select id="getByAccountId" parameterType="int" resultType="com.workman.weibo.model.AccessTokenModel">
	    SELECT
	      UID,
	      TOKEN,
	      ACCOUNT_ID AS accountId,
	      WEIBO_NAME as weiboName
	    FROM ACCESS_TOKEN
	    WHERE ACCOUNT_ID = #{accountId}
  </select>
  
  <select id="getByWeibId" parameterType="string" resultType="com.workman.weibo.model.AccessTokenModel">
	    SELECT
	      UID,
	      TOKEN,
	      ACCOUNT_ID AS accountId,
	      WEIBO_NAME as weiboName
	    FROM ACCESS_TOKEN
	    WHERE UID = #{wbId}
  </select>
  
   <insert id="add" parameterType="com.workman.weibo.model.AccessTokenModel">
    INSERT INTO ACCESS_TOKEN
      (UID,TOKEN, ACCOUNT_ID,WEIBO_NAME)
    VALUES
      (#{uid},#{token}, #{accountId},#{weiboName})
  </insert>
  <update id="update" parameterType="com.workman.weibo.model.AccessTokenModel">
    UPDATE ACCESS_TOKEN SET
      UID = #{uid},
      TOKEN = #{token},
      WEIBO_NAME = #{weiboName}
    WHERE ACCOUNT_ID = #{accountId}
  </update>
  
</mapper>