<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.workman.sysman.persistence.AuthMapper">

  <cache />
  
  <select id="getAuthInfo" parameterType="string" resultType="com.workman.sysman.model.AuthModel">
    SELECT
      LEVEL,
      NAME,
      DESCRIPTION
    FROM AUTH
    WHERE LEVEL = #{level}
  </select>

  <select id="getAuthList" resultType="com.workman.sysman.model.AuthModel">
	    SELECT
	      LEVEL,
	      NAME,
	      DESCRIPTION
	    FROM AUTH
  </select>
  <insert id="insertAuth" parameterType="com.workman.sysman.model.AuthModel">
    INSERT INTO AUTH
      (NAME, DESCRIPTION)
    VALUES
      (#{name}, #{description})
  </insert>
  <update id="updateAuth" parameterType="com.workman.sysman.model.AuthModel">
    UPDATE AUTH SET
      NAME = #{name},
      DESCRIPTION = #{description}
    WHERE LEVEL = #{level}
  </update>
  <delete id="batchDelAuth">
  	DELETE FROM AUTH WHERE LEVEL IN 
  	<foreach item="levelItem" collection="array" open="(" separator="," close=")">
  		#{levelItem}
  	</foreach>
  </delete>
  <delete id="deleteAuth">
  	DELETE FROM AUTH WHERE LEVEL=#{level}
  </delete>

</mapper>