<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.workman.sysman.persistence.PositionMapper">

  <cache />
  
  <select id="getPositionList" resultType="com.workman.sysman.model.PositionModel">
	    SELECT
	      CODE,
	      NAME,
	      DESCRIPTION
	    FROM POSITION
  </select>
  
   <insert id="insert" parameterType="com.workman.sysman.model.PositionModel">
    INSERT INTO POSITION
      (NAME, DESCRIPTION)
    VALUES
      (#{name}, #{description})
  </insert>
  <update id="update" parameterType="com.workman.sysman.model.PositionModel">
    UPDATE POSITION SET
      NAME = #{name},
      DESCRIPTION = #{description}
    WHERE CODE = #{code}
  </update>
  
  <delete id="batchDelete">
  	DELETE FROM POSITION WHERE CODE IN 
  	<foreach item="levelItem" collection="array" open="(" separator="," close=")">
  		#{levelItem}
  	</foreach>
  </delete>
  <delete id="delete">
  	DELETE FROM POSITION WHERE CODE=#{code}
  </delete>

</mapper>