<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.workman.mission.persistence.HandleMapper">

  <cache />
  
   <insert id="add" parameterType="com.workman.mission.model.MissionHandleModel">
    INSERT INTO MISSION_HANDLE
      (MISSIONID,ADDTIME, CONTENT,HANDLER_ID,HANDLER_NAME,HANDLER_DEP,
      TO_ID,TO_NAME,TO_DEP,HANDLETYPE,STATUS,HANDLETIME)
    VALUES
      (#{missionId},#{addTime}, #{content},#{handlerId},#{handlerName},
      #{handlerDep},#{toId},#{toName},#{toDep},#{handleType},#{status},#{handleTime})
      
     <selectKey resultType="int" keyProperty="id" order="AFTER">
   		SELECT LAST_INSERT_ID()
   	</selectKey>
  </insert>
  <update id="commitHandle" parameterType="int">
  	UPDATE MISSION_HANDLE SET STATUS = 1 WHERE MISSIONID = #{missionId}
  </update>
  <select id="getList" resultType="com.workman.mission.model.MissionHandleModel">
    SELECT MISSIONID AS missionId,
    	CONTENT AS content,
    	ADDTIME AS addTime,
    	CONTENT AS content,
    	HANDLER_ID AS handlerId,
    	HANDLER_NAME AS handlerName,
    	HANDLER_DEP AS handlerDep,
    	TO_ID AS toId,
    	TO_NAME AS toName,
    	TO_DEP AS toDep,
    	HANDLETIME AS handleTime,
    	HANDLETYPE AS handleType,
    	STATUS as status
    	
    FROM MISSION_HANDLE MH
    WHERE MH.MISSIONID = #{missionId}
  </select>
  
  <select id="get" resultType="com.workman.mission.model.MissionHandleModel">
    SELECT MISSIONID AS missionId,
    	CONTENT AS content,
    	ADDTIME AS addTime,
    	CONTENT AS content,
    	HANDLER_ID AS handlerId,
    	HANDLER_NAME AS handlerName,
    	HANDLER_DEP AS handlerDep,
    	TO_ID AS toId,
    	TO_NAME AS toName,
    	TO_DEP AS toDep,
    	HANDLETIME AS handleTime,
    	HANDLETYPE AS handleType,
    	STATUS as status
    	
    FROM MISSION_HANDLE MH
    WHERE MH.ID = #{handleId}
  </select>
  
</mapper>