<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.workman.mission.persistence.MissionMapper">

  <cache />
  
  <select id="getMission" parameterType="int" resultType="com.workman.mission.model.MissionModel">
  	SELECT M.ID ,
  	M.TITLE,
  	M.CONTENT,
  	M.CREATETIME,
  	M.HANDLETIME,
  	M.COMMITTIME,
  	M.TYPE,
  	M.STATUS,
  	M.NOTES,
  	SPONSOR_ID AS sponsorId,
  	SPONSOR_NAME AS sponsorName,
  	SPONSOR_DEP AS sponsorDep,
  	HANDLER_ID AS handlerId,
  	HANDLER_NAME AS handlerName,
  	HANDLER_DEP AS handlerDep
  	FROM MISSION M
  	WHERE M.ID=#{missionId}
  </select>
  <select id="getList" resultType="com.workman.mission.model.MissionModel">
  
  </select>
   <insert id="create" parameterType="com.workman.mission.model.MissionModel">
    INSERT INTO MISSION
      (TITLE,CONTENT,CREATETIME,TYPE,STATUS,SPONSOR_ID,SPONSOR_NAME,SPONSOR_DEP,HANDLER_ID,HANDLER_NAME,HANDLER_DEP)
    VALUES
      (#{title},#{content},#{createTime},#{type},#{status},#{sponsorId},#{sponsorName},#{sponsorDep},#{handlerId},#{handlerName},#{handlerDep})
  </insert>
  <update id="update" parameterType="com.workman.mission.model.MissionModel">
    UPDATE MISSION SET
    	<if test="commitTime != null">
    		COMMITTIME = #{commitTime},
    	</if>
    	<if test="handleTime != null">
    		HANDLETIME = #{handleTime},
    	</if>
      STATUS = #{status}
    WHERE CODE = #{code}
  </update>
  
</mapper>