<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.workman.mission.persistence.MissionMapper">

  <cache />
  
  <select id="getMission" parameterType="int" resultType="com.workman.mission.model.MissionModel">
  	SELECT M.ID ,
  	M.TITLE,
  	M.CONTENT,
  	M.CREATETIME,
  	M.HANDLETIME,
  	M.COMMITTIME,
  	M.TYPE,
  	M.STATUS,
  	M.NOTES,
  	SPONSOR_ID AS sponsorId,
  	SPONSOR_NAME AS sponsorName,
  	SPONSOR_DEP AS sponsorDep,
  	HANDLER_ID AS handlerId,
  	HANDLER_NAME AS handlerName,
  	HANDLER_DEP AS handlerDep
  	FROM MISSION M
  	WHERE M.ID=#{missionId}
  </select>
  <select id="getSponCount" resultType="int">
  	SELECT COUNT(ID) FROM MISSION M
	  	WHERE 1=1 
	  	<choose>
	  		<when test="missionCode != null">
	  			ID = #{missionCode}
	  		</when>
	  		<otherwise>
	  			<if test="type != null">
			  		AND M.TYPE = #{type}
			  	</if>
			  	<if test="startTime != null">
			  		AND M.CREATETIME &gt;= #{startTime}
			  	</if>
			  	<if test="endTime != null">
			  		AND M.CREATETIME &lt;=  #{endTime}
			  	</if>
			  	<if test="type != null">
			  		AND M.TYPE = #{type}
			  	</if>
			  	<if test="status != null">
			  		AND M.STATUS = #{status}
			  	</if>
	  		</otherwise>
	  	</choose>
	  	AND M.SPONSOR_ID = #{handler}
	  	LIMIT #{start},#{end}
  </select>
  <select id="getPendingMissions" resultType="com.workman.mission.model.MissionModel">
  	SELECT M.ID ,
  	M.TITLE,
  	M.CONTENT,
  	M.CREATETIME,
  	M.HANDLETIME,
  	M.COMMITTIME,
  	M.TYPE,
  	M.STATUS,
  	M.NOTES,
  	SPONSOR_ID AS sponsorId,
  	SPONSOR_NAME AS sponsorName,
  	SPONSOR_DEP AS sponsorDep,
  	HANDLER_ID AS handlerId,
  	HANDLER_NAME AS handlerName,
  	HANDLER_DEP AS handlerDep 
  	FROM MISSION M
  	 WHERE (M.STATUS = 1 AND M.HANDLER_ID = #{handleId}) OR
 	(M.STATUS = 2 and 
 		exists (SELECT 1 FROM MISSION_HANDLE MH 
 			WHERE MH.MISSIONID = M.ID  and MH.STATUS = 0 and MH.TO_ID=#{handleId} ))
  </select>
  <select id="getSponMissions" resultType="com.workman.mission.model.MissionModel" 
  		parameterType="com.workman.mission.persistence.wrapper.MissionWrapper">
	  	SELECT M.ID ,
	  	M.TITLE,
	  	M.CONTENT,
	  	M.CREATETIME,
	  	M.HANDLETIME,
	  	M.COMMITTIME,
	  	M.TYPE,
	  	M.STATUS,
	  	M.NOTES,
	  	SPONSOR_ID AS sponsorId,
	  	SPONSOR_NAME AS sponsorName,
	  	SPONSOR_DEP AS sponsorDep,
	  	HANDLER_ID AS handlerId,
	  	HANDLER_NAME AS handlerName,
	  	HANDLER_DEP AS handlerDep
	  	FROM MISSION M
	  	WHERE 1=1
	  	<choose>
	  		<when test="missionCode != null">
	  			ID = #{missionCode}
	  		</when>
	  		<otherwise>
	  			<if test="type != null">
			  		AND M.TYPE = #{type}
			  	</if>
			  	<if test="startTime != null">
			  		AND M.CREATETIME &gt;= #{startTime}
			  	</if>
			  	<if test="endTime != null">
			  		AND M.CREATETIME &lt;=  #{endTime}
			  	</if>
			  	<if test="type != null">
			  		AND M.TYPE = #{type}
			  	</if>
			  	<if test="status != null">
			  		AND M.STATUS = #{status}
			  	</if>
	  		</otherwise>
	  	</choose>
	  	AND M.SPONSOR_ID = #{handler}
	  	LIMIT #{start},#{end}
  </select>
  
  <select id="getHanCount" resultType="int">
  	SELECT COUNT(ID) FROM MISSION M
	  	WHERE 1=1 AND M.STATUS > 1
	  	<choose>
	  		<when test="missionCode != null">
	  			ID = #{missionCode}
	  		</when>
	  		<otherwise>
	  			<if test="type != null">
			  		AND M.TYPE = #{type}
			  	</if>
			  	<if test="startTime != null">
			  		AND M.CREATETIME &gt;= #{startTime}
			  	</if>
			  	<if test="endTime != null">
			  		AND M.CREATETIME &lt;=  #{endTime}
			  	</if>
			  	<if test="type != null">
			  		AND M.TYPE = #{type}
			  	</if>
			  	<if test="status != null">
			  		AND M.STATUS = #{status}
			  	</if>
	  		</otherwise>
	  	</choose>
	  	AND M.HANDLER_ID = #{handler} OR
		 EXISTS (SELECT 1 FROM MISSION_HANDLE MH WHERE M.ID = MH.MISSIONID AND MH.TO_ID = #{handler} AND MH.STATUS=1)
	  	LIMIT #{start},#{end}
  </select>
  
  <select id="getHanMissions" resultType="com.workman.mission.model.MissionModel" 
  		parameterType="com.workman.mission.persistence.wrapper.MissionWrapper">
	  	SELECT M.ID ,
	  	M.TITLE,
	  	M.CONTENT,
	  	M.CREATETIME,
	  	M.HANDLETIME,
	  	M.COMMITTIME,
	  	M.TYPE,
	  	M.STATUS,
	  	M.NOTES,
	  	SPONSOR_ID AS sponsorId,
	  	SPONSOR_NAME AS sponsorName,
	  	SPONSOR_DEP AS sponsorDep,
	  	HANDLER_ID AS handlerId,
	  	HANDLER_NAME AS handlerName,
	  	HANDLER_DEP AS handlerDep
	  	FROM MISSION M
	  	WHERE 1=1 AND M.STATUS > 1
	  	<choose>
	  		<when test="missionCode != null">
	  			ID = #{missionCode}
	  		</when>
	  		<otherwise>
	  			<if test="type != null">
			  		AND M.TYPE = #{type}
			  	</if>
			  	<if test="startTime != null">
			  		AND M.CREATETIME &gt;= #{startTime}
			  	</if>
			  	<if test="endTime != null">
			  		AND M.CREATETIME &lt;=  #{endTime}
			  	</if>
			  	<if test="type != null">
			  		AND M.TYPE = #{type}
			  	</if>
			  	<if test="status != null">
			  		AND M.STATUS = #{status}
			  	</if>
	  		</otherwise>
	  	</choose>
	  	AND M.HANDLER_ID = #{handler} OR
		 EXISTS (SELECT 1 FROM MISSION_HANDLE MH WHERE M.ID = MH.MISSIONID AND MH.TO_ID = #{handler} AND MH.STATUS=1)
	  	LIMIT #{start},#{end}
  </select>
  
   <insert id="create" parameterType="com.workman.mission.model.MissionModel">
    INSERT INTO MISSION
      (TITLE,CONTENT,CREATETIME,TYPE,STATUS,SPONSOR_ID,SPONSOR_NAME,
      SPONSOR_DEP,HANDLER_ID,HANDLER_NAME,HANDLER_DEP,NOTES)
    VALUES
      (#{title},#{content},#{createTime},#{type},#{status},#{sponsorId},#{sponsorName},
      #{sponsorDep},#{handlerId},#{handlerName},#{handlerDep},#{notes})
      
      <selectKey resultType="int" keyProperty="id" order="AFTER">
   		SELECT LAST_INSERT_ID()
   	</selectKey>
  </insert>
  <update id="commit" parameterType="java.util.Map">
    UPDATE MISSION SET
		COMMITTIME=#{currDt},STATUS = 3
    WHERE id = #{id}
  </update>
   <update id="updateMissionStatu" parameterType="java.util.Map">
    UPDATE MISSION SET
 		HANDLETIME=#{currDt},STATUS = 2
    WHERE id = #{id}
  </update>
</mapper>